// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #f3f3f3 !important;
}

.bg-text {
  color:lightgrey;
  font-size:120px;
  transform:rotate(300deg);
    -webkit-transform:rotate(300deg);
}


.large-hr {
  width: 100%;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: $secondary-color;
  margin-top: 0px;
  margin-bottom: 0px;
}

.banner-img-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  // text-decoration: none;
  // height: auto;
  // border: none;
  // width: 100%;
  // max-width: 640px;
  // display: block;
}

.banner-img-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  // text-decoration: none;
  // height: auto;
  // border: none;
  // width: 100%;
  // max-width: 640px;
  // display: block;
}
.small-hr {
  width: 5%;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: $secondary-color;
}

.button {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: $black;
  background-color: $secondary-color;
  border-radius: 0px;
  // width: 10%;
  text-align: center;
  word-break: keep-all;
  border-top: 0px solid #fab200;
  border-right: 0px solid #fab200;
  border-bottom: 0px solid #fab200;
  border-left: 0px solid #fab200;
  padding-top: 5px;
  padding-bottom: 5px;
}

.paragraphs {
  .tennis {
    line-height: 19px;
    text-align: center;
    margin: 0;
    font-size: 16px;
    color: #555555;
    line-height: 120%;
    padding-top: 40px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .open {
    text-align: center;
    font-style: bolder;
    margin: 0;
    line-height: 36px;
    font-size: 30px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    color: #555555;
  }

  .text {
    font-size: 18px;
    font-family: $body-font-family;
    line-height: 21px;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
}




.footer {
  & .container {
    background-color: $dark-blue;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.text-center {
  font-size: 11px;
  line-height: 20px;
  color: #8d99ad;
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}

.hyperlink {
  font-size: 11px;
  color: #8d99ad;
  text-decoration: underline;
  font-weight: 800;
}
