// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #f3f3f3 !important;
}

.bg-text {
  color: $light-gray;
  font-size:120px;
  transform:rotate(300deg);
    -webkit-transform:rotate(300deg);
}

h2 {
  line-height: 36px;
  font-weight: bold;
}

h3 {
  text-align: center;
  word-break: break-word;
  margin: 0;
  line-height: 36px;
  font-size: 30px;
  // padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  color: #555555;
}

h4 {
  text-align: center;
  font-style: bolder;
  margin: 0;
  line-height: 36px;
  font-size: 18px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  color: #555555;
}

.yellow-break {
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

h6 {
  padding-top: 40px;
  padding-right: 10px;
  padding-left: 10px;
}

h5 {
  line-height: 18px;
  font-size: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

p {
  font-size: 18px;
  line-height: 120%;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  @media only screen and (max-width: #{$global-breakpoint}) {
    font-size: 12px;
  }
}

span {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  @media only screen and (max-width: #{$global-breakpoint}) {
    font-size: 12px;
  }
}

.small-hr {
  width: 5%;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: $secondary-color;
}

.medium-hr {
  width: 15%;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: $secondary-color;
}

.paragraphs {
  .tennis {
    line-height: 19px;
    text-align: center;
    margin: 0;
    font-size: 16px;
    color: #555555;
    line-height: 120%;
    padding-top: 40px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .text {
    font-size: 18px;
    font-family: $body-font-family;
    line-height: 21px;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
}

.footer {
  & .container {
    background-color: $dark-blue;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .text-center {
    font-size: 11px;
    line-height: 20px;
    color: #8d99ad;
  }

  & a {
    color: #8d99ad;
    text-decoration: underline;
    font-weight: 800;
  }
}
