<wrapper class="footer">
	<container>
		<row>
			<columns>
				<spacer size="30"></spacer>
				<center>
					<img src="{{ root }}/assets/img/espnlogo-small.png"  />
				</center>
			</columns>
		</row>
		<row>
	   	<!-- <spacer size="25"></spacer> -->
	     <p class="text-center">This email was sent to: [[]]. Please do not reply to this email as this address is not monitored.</br>
	      <span class="text-center">
	          This email contains an advertisement from: BAMTech, LLC, 75 Ninth Avenue, 6th Floor, New York NY 10011. ESPN+ is operated by BAMTech, LLC, an affiliate of Disney Streaming Services, LLC
	      </span>
				</p>
				<!-- <spacer size="20"></spacer> -->
				<p class="text-center">
					<span class="optout">If you do not want to receive future marketing email messages from ESPN+, please <a href="">opt-out</a> here.</span></br>
					<span class="street-number">©2019 ESPN. All Rights Reserved.</span>
				</p>
		</row>
	</container>
</wrapper>
