<wrapper class="footer">
	<container>
		<row>
			<columns>
				<spacer size="30"></spacer>
				<center>
					<img src="{{ root }}/assets/img/espnlogo-small.png"  />
				</center>
			</columns>
		</row>
		<row>
	   	<!-- <spacer size="25"></spacer> -->
	     <p class="text-center">This email was sent to: evan.szy@gmail.com. Please do not reply to this email as this address is not monitored.</br>
	      <span class="text-center">
	          This email contains an advertisement from: BAMTech, LLC, 75 Ninth Avenue, 6th Floor, New York NY 10011. ESPN+ is operated by BAMTech, LLC, an affiliate of Disney Streaming Services, LLC
	      </span>
				</p>
				<!-- <spacer size="20"></spacer> -->
				<p class="text-center">
					<span class="text-center">If you do not want to receive future marketing email messages from ESPN+, please <a href class="hyperlink" src="https://privacychoices.thewaltdisneycompany.com/unsubscribe?ee=mgLwiTAsmx8AAAFbgtVQzAGGKq4dHt%2FcEpsPcsf2%2BgSMqXwd%2FlzIXtky%2FSZmcMbChnQSExHSS7uU808NSEdMWI4%3D&pe=RVNQTitfTA%3D%3D&langPref=en-US&sender=true&source=Welcome&clientId=DTSS-EPC.KMS-PROD&campaignId=DSS-ESPNPlus-Live_Event-Engagement-20190826_SPOTLIGHT_USOPEN-USA-Tennis-NA-Spotlight-Email-SEE_SCHEDULE-NA&espData=">opt-out</a> here.</span></br>
					<span class="text-center">©2019 ESPN. All Rights Reserved.</span>
				</p>
		</row>
	</container>
</wrapper>
