<wrapper class="footer">
	<container>
		<spacer size="40"></spacer>
			<row>
				<columns>
					<center>
						<img src="https://i.imgur.com/3Xk7xKf.png" />
					</center>
				</columns>
			</row>

			<row>
				<columns>
					<span class="text-center">This email was sent to: {{espnData.email}}. Please do not reply to 		 this email as this address is not monitored.</br>
						This email contains an advertisement from: BAMTech, LLC, 75 Ninth Avenue, 6th Floor, New York NY 10011. </br>ESPN+ is operated by BAMTech, LLC, an affiliate of Disney Streaming Services, LLC
	 	      </span>
				</columns>
			</row>

			<row>
				<columns>
					<span class="text-center">If you do not want to receive future marketing email messages from ESPN+, please <a href src="https://privacychoices.thewaltdisneycompany.com/unsubscribe?ee=mgLwiTAsmx8AAAFbgtVQzAGGKq4dHt%2FcEpsPcsf2%2BgSMqXwd%2FlzIXtky%2FSZmcMbChnQSExHSS7uU808NSEdMWI4%3D&pe=RVNQTitfTA%3D%3D&langPref=en-US&sender=true&source=Welcome&clientId=DTSS-EPC.KMS-PROD&campaignId=DSS-ESPNPlus-Live_Event-Engagement-20190826_SPOTLIGHT_USOPEN-USA-Tennis-NA-Spotlight-Email-SEE_SCHEDULE-NA&espData=">opt-out</a> here.</span>
					<span class="text-center">©2019 ESPN. All Rights Reserved.</span>
				</columns>
			</row>
		<!-- <spacer size="10"></spacer> -->
	</container>
</wrapper>
